:root {
    /*colors*/
    --Background: linear-gradient(270deg, #F9FFEC 0%, #BBFAFF 45.08%, #E9C3FE 87.52%);
    --Gray: #999099;
    --softGray: #e5e5e5;
    --secundary: #eef7f8;
    --Highlight: #5fbbc1;
    --White: hsl(0, 0%, 100%);
    --back: #000000;
    --Slightlytransparent: hsla(0, 0%, 100%, 0.75);
    --Slightly: hsla(0, 0%, 100%, 0.6);
  
    /*font size variable*/
    --fontBase: "Inter", sans-serif;

    --headLineMTablet: bold 48px/58.09px var(--fontBase);
    --NavTablet: 18px/21.78px var(--fontBase);
    --headLineMobile: bold 47px/58px var(--fontBase);
    --BodyMobile: 14px/22px var(--fontBase);
    --BtnMobile: bold 22px/27px var(--fontBase);
  }
  
  body {
    background: var(--Background);
    background-image: url('../assets/images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: var(--fontBase);
    text-align: center;
    padding: 0;
    margin: 0;
    min-width: 300px;
  }
  
  .Header{
    font: var(--NavTablet);
    padding-inline-start: 24px;
    padding-inline-end: 24px;
  }
  .Header--image img{
      margin-block-start: 15px;
      
  }
  .Header--nav{
      display: none;
  }
  .Header__Btncontainer{
    display: none;
    align-items: center;
  }
  .Header__Btncontainer a{
    text-decoration: none;
  }
  .Header--nav ul {
      display:flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-between;
  }
  .Header--nav ul a {
      padding-inline-end: 40px;
      text-decoration: none;
      color: black;
  }

  .CardImg{
      margin-block-start: 30px;
      display: inline-block;
      width: 185px;
      height: 173.2px;
  }

  .CardImg .image{
      width: 100%;
      height: 100%;
      background: url('../assets/images/card-right-mobile.png');
  }
  .CardText{
      margin-inline-start: 16px;
      margin-inline-end: 24px;
  }
  .CardText--title{
      margin-block-start: 30px;
      margin-block-end: 0px;
      text-align: left;
      font: var(--headLineMobile);
  }

  .CardText--description{
    margin-block-end: 17px;
    text-align: left;
    font: var(--BodyMobile);
    color: var(--Gray);
  }

  .CardText--btn{
    margin-block-start: 50px;
    width: 95%;
    height: 51px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Background);
    border-radius: 16px;
    margin-block-end: 24px;
    border: 4px solid white;
    box-shadow: 0 20px 25px 0 #e9c3fe4d;
  }
  .CardText__btn--primary{   
      font: var(--BtnMobile);
      color: var(--back);
      text-decoration: none;
  }

  @media only screen and (min-width: 600px) {
    .Main{
        display: flex;
        flex-direction: column;
    }
    .CardText--title{
        font: var(--headLineMTablet);
        max-width: 358px;
    }
    .CardText--description{
        max-width: 338px;
    }
    .CardImg{
        order: 1;
        padding-inline-end: 24px;
        align-self: flex-end;
        width: 630px;
        height: 587px; 
    }
    .CardImg .image{
        background: url('../assets/images/card-rightTablet.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .CardText--btn{
        max-width: 190px;
        margin-inline-start: 0px;
    }
    .Header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
    }
    .Header--nav{
        display: inline-block;
    }
    .Header__Btncontainer{
        display: flex;
        flex-direction: row;
        width: 213px;
        max-width: 213px;
        justify-content: space-between;
    }
    .Header__Btncontainer .btnSecundary, .btnPrimaty{
        width: 105px;
        height: 40px;
        border-radius: 12px;
        border: 1px solid #4a96D9;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btnPrimaty{
        width:88px;
        color: white;
        background-color:#4a96D9 ;
        font-weight: bold;
    }
    .Header__Btncontainer .btnSecundary .btn, .btnPrimaty .btn{
        text-decoration: none;
        color: var(--back);
    }
    .btnPrimaty .btn{
        color: white;
    }
  }

  @media only screen and (min-width: 992px) {
    .Header{
        border: 2px solid black;
    }
  }